{
  "extends": ["eslint:recommended", "prettier", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/extensions": [0],
    "import/no-extraneous-dependencies": "off",
    "no-template-curly-in-string": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "no-nested-ternary": "off",
    "no-console": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "off",
    "import/prefer-default-export": "off"
  }
}
